.backdrop {
   width: 100vw;
   height: 100vh;
   position: fixed;
   top: 0;
   left: 0;
   background-color: rgba(0, 0, 0, .7);
   z-index: 1;
}

.dialog {
   background-color: transparent;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 2;
}

.dialog > * {
   animation: popup-show .3s;
}

@keyframes popup-show {
   0% {
      opacity: 0;
   }

   100% {
      opacity: 1;
   }
}